services:
  lightrag:
    image: ghcr.io/hkuds/lightrag:latest
    volumes:
      - lightrag_rag_storage:/app/data/rag_storage
      - lightrag_inputs:/app/data/inputs
    env_file:
      - .env
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true

volumes:
  lightrag_rag_storage:
  lightrag_inputs:
